
<script id="project-template" type="text/template">

    <div class="project" data-key="{{id}}">

        <h2 class="title">{{{title}}}</h2>
        <a href="#/work/" id="close-btn" class="close-project">&times</a>

        <div id="carousel-example-generic{{id}}" class="carousel slide wht-frame" data-ride="carousel">
            <!-- Indicators -->

            <ol class="carousel-indicators">

                {{#each images}}
                    <li data-target="#carousel-example-generic{{../id}}" data-slide-to="{{@index}}"
                        {{#ifZero @index}}
                        class="active"
                        {{/ifZero}}>
                    </li>
                {{/each}}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                {{#each images}}
                    <div class="item {{#ifZero @index}}active{{/ifZero}}"><img src="assets/{{image_url}}"/></div>
                {{/each}}

            </div>
            <div class="carousel-caption"></div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic{{id}}" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic{{id}}" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

        <div class="detail">

            {{#if description}}
                <div class="description">{{description}}</div>
            {{/if}}
            {{#if url}}
                <div class="link"><a href="{{url}}">View Project</a></div>
            {{/if}}
        </div>
        <div id="project-bg" class="close-project"></div>
    </div>

</script>
